/* font-family: 'Prata', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

div.h {
    flex-basis: 50%;
    position: relative;
    background-color: rgb(0, 51, 114);
    overflow: hidden;
}

div.h nav {
    margin-top: 4%;
    margin-left: 3%;
}

div.h nav ul li {
    display: inline-block;
    color: rgb(5, 176, 175);
    margin-left: 5%;
    font-size: 1.5rem;
    font-family: 'prata', serif;
}

div.h h1 {
    position: absolute;
    bottom: 11%;
    right: 12%;
    z-index: 1;
    font-size: 8rem;
    font-family: 'prata', serif;
    color: white;
    text-decoration: underline;
    animation: text 1s linear;
}

div.h h2 {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    right: 12%;
    left: 30%;
    text-align: right;
    font-size: 1rem;
    color: white;
    font-family: 'prata', serif;
}

div.h img {
    position: absolute;
    bottom: 8%;
    left: 12%;
    height: 55%;
    animation: bigH 1s linear;
}

div.d {
    flex-basis: 25%;
    position: relative;
    background-color: rgb(113, 226, 220);
}

div.d h2 {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    right: 12%;
    text-align: right;
    font-size: 1rem;
    color: rgb(59, 166, 161);
    font-family: 'prata', serif;
}

div.d img {
    position: absolute;
    bottom: 8%;
    left: 12%;
    height: 37%;
}

div.p {
    flex-basis: 25%;
    position: relative;
    background-color: rgb(247, 152, 156);
}

div.p h2 {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    right: 22%;
    text-align: right;
    font-size: 1rem;
    color: rgb(216, 106, 111);
    font-family: 'prata', serif;
}

div.p img {
    position: absolute;
    bottom: 8%;
    left: 12%;
    height: 37%;
}

@keyframes text {
    0% {
        right: -50%;
    }
}

@keyframes bigH {
    0% {
        height: 45%;
    }
}